[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
rqalpha = "*"
ta-lib = "*"
tushare = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
